body{
    margin: 0;
    padding: 0;
}
.title {
    background-color: black;
    padding: 15px;
}

.title p {
    
    text-align: center;
    color: #fff;
    margin: 0;
}
.navbar{
    margin-left: 12%;
    margin-top: 2%;
    
}
.nav-link {
    text-decoration: none;
    color: #585858;
}

.nav-link:hover {
    text-decoration: underline;
    color: black;

}
.icons{
    margin-right: 25%;
}
.icons a{
    font-size: 24px;
    padding: 7px;
    color: black;
}
.icons a :hover{
    color: gray;   
    
}


#carouselExampleCaptions {
    margin-top: 3%;
    width: 65%;
    margin-left: 15%;
    
}
    

   