body{
    margin: 0;
    padding: 0;
}
.title {
    background-color: black;
    padding: 15px;
}

.title p {
    
    text-align: center;
    color: #fff;
    margin: 0;
}
.navbar{
    margin-left: 12%;
    margin-top: 2%;
}

@media (min-width:200px) {
    .navbar{
        margin-left: 5%;
        margin-top: 2%;
    }
 }    

   